# Compiled Object files
*.slo
*.lo
*.o
*.obj
.ipynb_checkpoints

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
my_model
.idea
.DS_Store

__pycache__
